//-----------------------------//
//          Variables          //
//-----------------------------//

// Colors

$primary-color-light: #7477bf;
$primary-color: #7377bf;
$primary-color-dark: #4d4c72;
$secondary-color: #81c98f;
$tertiary-color: #74b1bf;
$body-color: #fff;
$trim-color: #fbfbfb;
$trim-color-dark: #b2b2b2;