/*-----------------------------*/
/*       Grid Display          */
/*-----------------------------*/

.grid {

    &-page {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto rem(50px) 1fr; // Set to 'auto' instead?
        grid-template-areas:
            "head"
            "nav"
            "main"
        ;
    }

    &-main {
        display: grid;
        grid-template-areas:
            "top-row"
            "alert"
            "large-traffic"
            "daily-traffic"
            "mobile-chart"
            "media-counts"
            "new-members"
            "recent-activity"
            "message-form"
            "settings"
        ;
    }
}

/* -- Grid content for the page -- */

header {
    background-color: $primary-color-light;
    grid-area: head;
}

nav {
    background-color: $primary-color-dark;
    grid-area: nav;
}

main {
    background-color: $body-color;
    grid-area: main;
}

/* -- Grid Content in <main> -- */

.main-header {
    grid-area: top-row;
}

.alert-bar-container {
    grid-area: alert;
}

.traffic-overview {
    grid-area: large-traffic;
}

.daily-traffic {
    grid-area: daily-traffic;
}

.mobile-user {
    grid-area: mobile-chart;
}

.media-counts {
    grid-area: media-counts;
}

.new-members {
    grid-area: new-members;
}

.recent-activity {
    grid-area: recent-activity;
}

.user-messaging {
    grid-area: message-form;
}

.settings {
    grid-area: settings;
}

@include respond-to(medium) {

    .grid-page {
        grid-template-columns: rem(60px) 1fr;
        grid-template-rows: auto min-content;
        grid-template-areas:
            "head head"
            "nav main"
        ;
    }
}

@include respond-to(large) {
    .grid-main {
        grid-template-columns: 50% 50%;
        grid-template-rows: rem(50px);
        grid-auto-rows: auto;
        grid-template-areas:
            "top-row top-row"
            "alert alert"
            "large-traffic large-traffic"
            "daily-traffic mobile-chart"
            "media-counts media-counts"
            "new-members recent-activity"
            "message-form settings"
        ;
    }
}