/*-----------------------------*/
/*      Main Container         */
/*-----------------------------*/

%body-text-color {
    color: $body-text-color;
}

main>section:not(.main-header) {
    padding: rem(10px) 0;

    @include respond-to(large) {
        // padding-top: rem(30px);
        // padding-bottom: rem(30px);
    }
}

.main-header {
    @include flexy;
}

.dashboard-tab {
    @extend %body-text-color;
    font-weight: 400;
    padding: rem(20px);
    line-height: rem(20px);
}

.search {
    &-container {
        padding: rem(10px) rem(20px);
        background-color: $trim-color;
        flex-grow: 1;

        @include flexy($just: flex-end, $items: center);
        border: 1px solid #ddd;
    }

    &-pair {
        @include flexy;
        border: 1px solid #ddd;

        * {
            border: none;
            padding: rem(5px);
        }

        &__input {
            width: 100%;
        }
    }
}

.alert-bar {

    &-container {
        padding: rem(10px) rem(20px);
    }

    @include flexy($just: space-between);
    background-color: $primary-color;
    border-radius: rem(5px);
    margin: 0 rem(20px);
    padding: rem(15px);

    * {
        @extend %white-font;
        font-size: rem(14px);
    }

    &__close {
        font-weight: bold;
    }
}

/* -- Handle Width of Chart container -- */

.widget-container {

    // For Mobile Size
    &--full,
    &--half {
        width: 90vw;
        margin: 0 auto;
    }

    // For large screen
    @include respond-to(medium) {

        &--full,
        &--half {
            width: 90vw;
        }
    }


    @include respond-to(large) {

        &--half {
            width: 40vw;
        }
    }
}



/* -- Section Title Styles -- */

%border-bottom-defined {
    border-bottom: 1px solid #ddd;
}

%border-left-defined {
    @include respond-to(large) {
        border-left: 1px solid #ddd;
    }
}

.section {
    &-header {
        margin-bottom: rem(20px);
        padding: 0 rem(20px);
    }

    &-title {
        @extend %body-text-color;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.traffic {
    &-overview {
        @extend %border-bottom-defined;
    }

    &-header {
        @include flexy($wrap: wrap, $just: space-between);

        margin-bottom: rem(10px);

        &__nav {
            @include flexy;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &__link {
            @extend %body-text-color;
            font-size: .8rem;
            font-weight: bold;
            background: transparent;
            border: none;
            border-radius: 20% / 50%;
            padding: rem(5px) rem(10px);

            &--active {
                background: $secondary-color;
                color: white;
            }
        }
    }

    @include respond-to(medium) {
        &-header {     
            margin-top: rem(10px);   
            &__nav {
                margin: 0;
            }
        }
    }
}

.daily-traffic {
    @extend %border-bottom-defined;
}

.mobile-user {
    @extend %border-bottom-defined;
    @extend %border-left-defined;
}

.media-counts {
    @extend %border-bottom-defined;
}

.social {
    &-container {
        @include flexy($dir: column);
        padding: 0 ((10px / 320px) * 100%);
    }

    &-widget {
        @include flexy;
        background-color: $trim-color;
        border: 1px solid #ddd;
        width: 100%;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: rem(20px) rem(30px);

        &__image {
            background-color: $primary-color;
            padding: rem(20px);
            width: rem(70px);
            height: rem(70px);
            border-radius: 50%;
            margin-right: rem(30px);

            svg {
                width: 100%;
            }

            path {
                fill: white;
            }

            @include respond-to(medium) {
                width: rem(120px);
                // padding: rem(30px);
            }
        }

        &__text {
            margin: auto 0;
        }

        &__name {
            color: $primary-color;
            font-size: 1.5rem;
            font-weight: bold;
        }

        &__count {
            font-size: 2.5rem;
            font-weight: 300;
        }

        &+& {
            margin-top: rem(10px);
        }
    }

    @include respond-to(medium) {
        &-container {
            @include flexy($dis: null, $dir: row, $wrap: wrap, $just: center);
        }

        &-widget {
            &__image {
                width: rem(80px);
                height: rem(80px);
            }

            &+&:not(:last-of-type) {
                margin-top: 0;
            }
        }
    }

    @include respond-to(large) {

        &-container {
            @include flexy($dis: null, $just: space-between);
        }

        &-widget {
            flex-basis: 32%;
            margin: 0 !important;
        }
    }
}

.member {
    /* -- Styling for the New Memebers Section -- */
    @include flexy($wrap: wrap, $just: space-between);

    &__content-left {
        @include flexy($dir: column);
        margin-bottom: rem(10px);

        /* To allow the Dates to equally wrap beneath this text when the screen size narrows */
        width: rem(248px);

        >.member__img {
            margin-bottom: rem(5px);
        }

        @include respond-to(medium) {
            @include flexy($dis:null, $dir: row);
        }
    }

    &__img {
        margin-right: rem(15px);
    }

    /* -- Styling for the Activity Section -- */

    &-activity {
        @include flexy;
        position: relative;

        &__text {
            /* To prevent text from bleeding over the arrow */
            width: ((175/280) * 100%);
        }

        &__status {
            margin-bottom: rem(10px);
        }

        &:after {
            content: '>';
            color: #aaa;
            cursor: pointer;
            font-size: 2rem;
            display: inline-block;
            position: absolute;
            right: rem(15px);
            top: 50%;
            transform: translateY(-50%);
        }
    }

    /* -- Grouped Stylings -- */
    &,
    &-activity {
        margin: 0 rem(20px);
        padding: rem(20px) 0;
    }

    &+&,
    &-activity+&-activity {
        border-top: 1px solid #ddd;
    }
}

.new-members {
    @extend %border-bottom-defined;
}

.recent-activity {
    @extend %border-bottom-defined;
    @extend %border-left-defined;
}

/* -- Message Form -- */

.user-messaging {
    @extend %border-bottom-defined;

    @include respond-to(large) {
        border-bottom: none;
    }
}

.message-form {
    @include flexy($dir: column, $items: center);
    padding: 0 rem(20px);

    *:not(:last-child) {
        margin-bottom: rem(15px);
    }

    &__input,
    &__textarea,
    &__submit {
        width: 100%;
        padding: rem(15px);
    }

    &__input,
    &__textarea {
        border: 1px solid #ddd;
        background-color: #efefef;

        &::placeholder {
            color: #c0c0c0;
        }
    }

    &__textarea {
        max-height: 100px;
    }

    &__submit {
        background-color: $primary-color;
        border: none;
        border-radius: 5px;
        color: white;
    }
}

.settings {
    @extend %border-left-defined;
    padding-left: rem(20px) !important;
    padding-right: rem(20px) !important;

    &__list {
        width: 100%;
        background-color: $trim-color;
        border: 1px solid #ddd;
        background-color: #efefef;
        color: #c0c0c0;
        padding: rem(10px) rem(15px);
        margin-bottom: rem(15px);

        option:not(:disabled) {
            color: black;
        }
    }

    &__buttons {
        @include flexy($just: space-between);

        * {
            border: none;
            border-radius: 5px;
            color: white;
            flex-basis: 48%;
            padding: rem(15px);
        }
    }

    &__save {
        background: $primary-color;
    }

    &__cancel {
        background: $trim-color-dark;
    }
}



/* -- Adjust Toggle-Switch Styles -- */

.switch-light {
    @include flexy($just: space-between, $items: center);
    max-width: rem(300px);
    margin: rem(15px) 0;

    &.switch-ios {

        >span {
            width: rem(100px);
            margin-left: auto;
        }

        >input:checked~span {
            background-color: $primary-color;
            box-shadow: inset 0 0 0 30px $primary-color;

            >a {
                border-color: $primary-color;
            }
        }
    }
}