//-----------------------------//
//         Navigation          //
//-----------------------------//

.nav {
    @include flexy($just: center);

    &__link {
        border-top: 3px solid transparent;
        padding: rem(10px) 0;
        max-width: rem(125px);
        & > svg {
            width: 100%;
            height: 100%;
        }

        &--active {
            /* Set !important to override border size changes at the breakpoints */
            border-color: $tertiary-color !important;
        }

        & path {
            fill: #bbb;
        }

        &:hover path,
        &--active path {
            fill: #fff;
        }
    }

    @include respond-to(medium) {
        @include flexy($dis: null, $dir: column, $just: flex-start);
        
        &__link {
            padding: rem(5px) rem(15px);
            margin: rem(10px) 0;
            border-top: none;
            border-left: 3px solid transparent;
        }
    }
}